In [150]:
import pandas as pd
file_path = 'Final-50-stocks.csv'
stock_data = pd.read_csv(file_path)
stock_data

            DATE  TATASTEEL
0     11-01-2010     591.90
1     12-01-2010     613.55
2     11-02-2010     599.05
3     12-02-2010     622.75
4     11-03-2010     609.60
...          ...        ...
2706  05-10-2021    1216.35
2707  06-10-2021    1114.45
2708  08-10-2021    1373.60
2709  13-10-2021    1354.30
2710  14-10-2021    1375.05

[2711 rows x 2 columns]

In [152]:
stock_data['TATASTEEL_Target'] = (stock_data['TATASTEEL'].shift(-1) > stock_data['TATASTEEL']).astype(int)
cleaned_data = stock_data.dropna()
features = cleaned_data.drop(columns=['TATASTEEL_Target', 'DATE'])
target = cleaned_data['TATASTEEL_Target']

In [172]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2)

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
prediction  = model.predict(X_test)

accuracy = accuracy_score(y_test, prediction)
accuracy

0.5414364640883977

In [156]:
import joblib
joblib.dump(model,"trained_model.pkl")

['trained_model.pkl']

In [158]:
model = joblib.load("trained_model.pkl")
stk_price = float(input("today's stock price"))
prediction = model.predict([[stk_price]])
prediction

today's stock price 155.65

C:\Users\Arnav Deshpande\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1])